/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}











/* ================== Navbar =================== */
.navbar{
    background-color: #00ac7a !important;
    color: #fff !important;
}
.navbar button {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.navbar .nav-link{
    color: #fff !important;
}